header {
    background-color: transparent;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: .5s;
}

header.scrolled {
    background-color: rgba(0, 0, 0, .9);
}

header img {
    width: 4rem;
}

header nav {
    display: flex;
}

header nav a {
    text-decoration: none;
    color: currentColor;
    margin: 0 2rem;
    border-bottom: .2rem transparent solid;
    transition: .3s;
}

header nav a:hover {
    color: rgb(var(--primary-color));
    border-bottom: .2rem rgb(var(--primary-color)) solid;
}

header .search-container a {
    text-decoration: none;
    color: currentColor;
    transition: .3s;
    background-color: transparent;
    border-radius: 1000px;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .search-container a:hover {
    color: rgb(var(--primary-color));
    background-color: black;
}

.open-menu-mobile {
    display: none;
}

@media (max-width: 992px) {
    header {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        transform: translate(100%, 0);
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
    }

    header.open {
        transform: translate(0, 0);
    }

    header nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header nav a {
        margin: 1rem 0;
    }

    .open-menu-mobile {
        display: block;
        position: inherit;
        top: 2rem;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        z-index: 100000;
        position: fixed;
    }

    .open-menu-mobile::before {
        content: '';
        width: 100%;
        height: .5rem;
        background-color: white;
        position: absolute;
        border-radius: 5rem;
        top: 30%;
        right: 0;
        transition: .5s;
    }

    .open-menu-mobile::after {
        content: '';
        width: 70%;
        height: .5rem;
        background-color: white;
        position: absolute;
        border-radius: 5rem;
        top: 60%;
        right: 0;
        transition: .5s;
    }

    .open-menu-mobile.open::before {
        top: 50%;
        transform: rotate(225deg);
    }

    .open-menu-mobile.open::after {
        width: 100%;
        top: 50%;
        transform: rotate(-225deg);
    }
}